* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #5F6874;
}

.section-category {
  display: block;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #DA6D5F;
  margin-bottom: 8px;
}

.section-title {
  font-size: 34px;
  line-height: 1.05882352941;
  font-weight: 600;
  letter-spacing: -0.03em;
  color:#444B69;
  margin-bottom: 26px;
}

.section-text {
  margin-bottom: 28px;
}

.section-title strong {
  color: #DA6D5F;
}

.section-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: -0.05em;
  border-radius: 20px;
  color:#fff;
  background-color: #DA6D5F;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.section-button:hover {
  border: 1px solid #DA6D5F;
  color:#DA6D5F;
  background-color: #fff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.1), 0px 11px 55px rgba(0, 0, 0, 0.07);
  transition: background-color 300ms ease-in-out;
}

/* Header */
.header {
  display: none;
}

/* Landing */
.landing {
  padding: 120px 0;
  text-align: center;
}

.landing-img {
  display: flex;
  justify-content: flex-end;
}

.landing-img img {
  height: 77px;
  width: 81px;
  margin-right: 60px;
  margin-bottom: 8px;
}

.landing-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #444B69;
  margin-bottom: 20px;
}

.landing-title strong {
  color: #DA6D5F;
}

.landing p {
  margin-bottom: 22px;
}

.landing .col-md-7 img {
  display: none;
}

/* About */
.about {
  background-color: #F4F5F7;
  padding: 60px 0;
}

.logo-img {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.logo-img img {
  display: block;
  width: 100%;
  max-width: 260px;
  height: auto;
}

.about-content {
  margin-bottom: 20px;
}

.about-title {
  font-size: 22px;
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 700;
  color:#444B69;
  margin-bottom: 4px;
}

.about-text {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.01;
}

  /* Program */
  .program {
    padding: 76px 0;
  }

  .program .section-text {
    margin-bottom: 50px;
  }

  .program .col-md-10 {
    text-align: center;
  }

  .program .col-md-4 {
    margin-bottom: 12px;
  }

  .program .col-md-4:last-child {
    margin-bottom: 0;
  }

  .course-card {
    width: 100%;
    height: 200px;
    border: 1px solid #DEE1E5;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  .card-title {
    position: relative;
    padding: 28px 31px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color:#444B69;
    margin-bottom: 20px;
  }

  .card-title strong {
    font-size: 22px;
    line-height: 1.09090909091;
    letter-spacing: -0.02em;
  }

  .card-title strong:hover {
    color: #fff;
  }

  .course-a,
  .course-b,
  .course-c {
    width: 32px;
    height: 32px;
    margin-right: 6px;
  }

  .course-a {
    background-image: url('./assets/icon-01.svg');
  }

  .course-card:hover .course-a {
    background-image: url('./assets/icon-01-fff.svg');
  }

  .course-b {
    background-image: url('./assets/icon-02.svg');
  }

  .course-card:hover .course-b {
    background-image: url('./assets/icon-02-fff.svg');
  }

  .course-c {
    background-image: url('./assets/icon-03.svg');
  }

  .course-card:hover .course-c {
    background-image: url('./assets/icon-03-fff.svg');
  }

  .course-card:hover {
    background-color: #F3887A;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
    transition: background-color 300ms ease-in-out;
  }

  .course-card:hover * {
    color: #fff;
    transition: color 100ms ease-in-out;
  }

  .course-card a {
    position: absolute;
    right: 40px;
    bottom: 25px;
    width: 135px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5714285714;
    letter-spacing: -0.05em;
    border: 1px solid #DEE1E5;
    border-radius: 30px;
    padding: 8px 25px;
    color: #444B69;
  }

  .course-card:hover a {
    background-color: #fff;
    color:#F3887A;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  .course-card p {
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-left: 31px;
  }


  /* Curriculum */
  .curriculum {
    padding: 46px 0;
    text-align: left;
  }

  .curriculum .section-button {
    margin-bottom: 70px;
  }

  .curriculum-img {
    display: flex;
    justify-content: end;
  }

  .curriculum img {
    display: block;
    width: 100%;
    max-width: 360px;
    height: 258px;
  }

  /* Review */
  .review {
    padding: 46px 0;
  }

  .review .col-md-6 {
    text-align: center;
  }

  .review .user-review {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  }

  .review-content img {
    display: block;
    width: 165px;
    height: 165px;
    margin-bottom: 6px;
  }

  .review-content strong, 
  .review-content span, 
  .review-content p {
    display: none;
  }

  .rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .rating-star {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 2px;
    background-image: url('./assets/star.svg');
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .rating-star::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shine 2.5s infinite;
  }
  
  @keyframes shine {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  .alert {
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-warning {
    min-width: 370px;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  .alert-warning:hover {
    opacity: 0.4;
  }

  /* Contact-email */

  .contact-email {
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(360deg, #FFF1EF 0%, #FFFFFF 100%);
  }

  .contact-email .section-title {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.05em;
    margin-bottom: 8px;
  }

  .contact-email p {
    margin-bottom: 13px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-group input {
    height: 48px;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 8px;
  }

  .input-group button {
    height: 48px;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #DA6D5F;
    color: #fff;
    margin-bottom: 8px;
  }

  .input-group button:hover {
    border: 1px solid #DA6D5F;
    color:#DA6D5F;
    background-color: #fff;
    transition: color 300ms ease-in-out;
  }

  .input-group p {
    font-size: 13px;
    line-height: 1.5384615385;
    color: #7b7b7e;
  }

  .input-group a {
    color: #3040C4;
    text-decoration: underline;
  }

  /* Footer */
  .footer {
    background-color: #FFF1EF;
  }

  .footer-links {
    margin: 24px 0;
  }

  .footer-link {
    margin-bottom: 8px;
  }

  .footer-link:last-child {
    margin-bottom: 0;
  }

  .footer-link a {
    color: #807F81;
    font-size: 14px;
    line-height: 1.7142857143;
  }

/* >= 768px (DESKTOP) */
@media screen and (min-width: 768px) {

  /* Reset CSS */
  p {
    font-size: 18px;
    line-height: 1.5;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.5555555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.09090909091;
  }

  .section-title {
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
  }

  .section-button {
    width: 208px;
    height: 55px;
    font-size: 18px;
    line-height: 1.3888888889;
  }

  /* Header */
  .header {
    display: block;
  }

  .header .col-md-4 {
    padding-left: 0;
  }

  .title-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .title-group img {
    display: block;
    height: 45px;
    width: 45px;
    margin: 6px;
  }

  .title-group .header-title {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: -0.05em;
    color: #DA6D5F;
  }

  .header .col-md-5 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .header .nav-wrapper {
    display: flex;
    flex-direction: row;
  }

  .header .nav-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: -0.05em;
    color: #7C8196;
    margin-right: 33px;
  }

  .nav-content:hover * {
    font-weight: 500;
    color: #F3887A;
    border-bottom: 2px solid #F3887A;
  }

  .header .nav-content:last-child {
    margin-right: 0;
  }

  .header .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .button-group {
    display: flex;
    justify-content: flex-end;
  }

  .header .sign-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 38px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: -0.05em;
    border-radius: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  }

  .header .sign-button:first-child {
    border: 1px solid #DA6D5F;
    color: #DA6D5F;
    background-color: #fff;
    margin-right: 8px;
  }

  .header .sign-button:last-child {
    color: #fff;
    background-color: #DA6D5F;
  }

  .header .sign-button:first-child:hover {
    background-color: #EAEAEA;
  }

  .header .sign-button:last-child:hover {
    background-color: #E9958A;
  }

  /* Landing */
  .landing {
    text-align: left;
    padding: 20px 0;
  }

  .landing .col-md-5 {
    padding: 76px 0;
  }

  .landing .col-md-5 img {
    display: none;
  }

  .landing .landing-title {
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: -0.01em;
  }

  .landing .landing-text {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .landing .col-md-7 img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* About */
  .about {
    padding: 102px 0;
  }

  .about .col-md-6 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-img {
    margin-bottom: 0;
  }

  .logo-img img {
    min-width: 330px;
  }

  .about .col-md-3 {
    display: flex;
    flex-wrap: wrap;
  }

  .about-content:first-child {
    margin-bottom: 37px;
  }

  .about-content:last-child {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 24px;
    line-height: 1.1666666667;
    margin-bottom: 6px;
  }
  
  .about-text {
    font-size: 18px;
    line-height: 1.2777777;
    letter-spacing: -0.03;
  }
  

  /* Program */
  .program {
    padding: 94px 0;
  }

  .program .section-text {
    margin-bottom: 80px;
  }

  .program .col-md-4 {
    margin-bottom: 0;
  }

  .course-card {
    position: relative;
    padding: 18px 5px;
    height: 299px;
    width: auto;
    max-width: 290px;
  }

  .card-title {
    margin-bottom: 14px;
  }

  .course-card p {
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.03em;
  }

  .course-card a {
    right: 30px;
    bottom: 35px;
  }

  /* Curriculum */
  .curriculum {
    padding: 90px 0;
  }

  .curriculum .section-text {
    margin-bottom: 38px;
  }

  .curriculum img {
    display: block;
    width: 100%;
    height: 418px;
    object-fit: cover;
  }

  /* Review */
  .review {
    padding: 96px 0;
  }

  .review .section-title {
    margin-bottom: 70px;
  }

  .review .user-review {
    display: flex;
  }

  .review-content img {
    display: block;
    width: 212px;
    height: 212px;
    margin-bottom: 28px;
  }

  .rating-stars {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
  }

  .review-content strong,
  .review-content span,
  .review-content p {
    display: block;
  }

  .review-content strong {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color:#444B69;
    margin-bottom: 3px;
  }

  .review-content span {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #898C91;
    margin-bottom: 15px;
  }

  .alert-warning {
    display: none;
  }

  /* Contact-email */
  .contact-email {
    padding: 65px 0;
    text-align: left;
  }

  .contact-email .section-title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.01em;
    margin-bottom: 13px;
  }

  .contact-email p {
    margin-bottom: 23px;
  }

  .enter-email {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }

  .input-group input {
    height: 59px;
    width: 100%;
    max-width: 400px;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .input-group button {
    height: 59px;
    width: 184px;
    font-weight: 600;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  /* Footer */
  .footer-links {
    display: flex;
    align-items: center;
    margin: 16px 0;
  }
  
  .footer-link {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .footer-link:last-child{
    margin-right: 0;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}